
.container{
    margin: 0 auto ;

    background-image: url(../images/background.png);
    height: 768px;
    width: 1366px;
}
.header{
    width: 1064px;
    height: 45px;
    margin-left:155px ;
    margin-top: 35px;
}
.logo{
    float: left;
    margin-top: 49px;
}

.logo-text{
    font-size: 29px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    line-height: 0.724;
    text-align: left;
    position: absolute;
    margin-left: 50px;
    display: inline-block;
    margin-top: 5px;

}
.logo-text-bot{
    font-size: 0.5em;
    font-family: "Verdana", sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    position: absolute;
    letter-spacing: 2.5px;
}

.logo-link{
    color: rgb(255, 255, 255);
}
.logo-link:hover{
   color:  #f26522;
}
.logo-image{
    background: url("../images/logo.png");
    display: block;
    width: 46px;
    height: 44px;
    border:none;
    float: right;
}
.logo-image:hover{
    background: url(../images/logohover.png);
    border-color:transparent;
    color: transparent;
}
.contacts{

    font-size: 18px;
    font-family: "Verdana", sans-serif;
    color: rgb(255, 255, 255);
    float: right;
    text-align: right;
    margin-top: 30px;
    margin-right: 0;
}


.main-content{
    width: 1130px;
    height: 498px;
    margin-top: 30px;
    margin-left: 155px;
    padding: 0;

}
.images{
    display: block;
    border: 2px solid;
    -moz-border-image: -moz-linear-gradient(top, white 0%, black 100%);
    -webkit-border-image: -webkit-linear-gradient(top, white 0%, black 100%);
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;

}

.photo-block{
    width: 33.33%;
    display: inline-block;
    padding: 0;
    padding-bottom: 40px;
    float: left;
}
.box{
    position: relative;
    width: 308px;
    padding: 0;
}
.content-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.caption{
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    margin-left: 85px;
    line-height: 1.167;
}

.content-link:hover{
    color:  #f26522;

}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f26522;
    overflow: hidden;
    width: 312px;
    height: 0;
    transition: .5s ease;
}
  .box:hover .overlay{
    height: 35%;
}
.overlay-text{
    font-family: "Verdana", sans-serif;
    color: rgb(255, 255, 255);
}
.from{
    font-size: 10px;
    text-align: left;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.price{
    font-size: 2em;
}
.details{
    font-size: 15px;
    text-align: right;
    float: right;
    margin-top: 35px;
    margin-right: 8px;
}
.details:after{
    content: "\203A";
    padding: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.5;

}


.footer{
    position: relative;
    bottom: 20px;
    padding-bottom: 0;
}
.footer-text{
    font-family: "Verdana", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-align: center;
}













